.section {
  position: relative;

  &--hero {
    height: 100vh;
    background-image: url(../img/ash-ju.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    text-align: center;

    .container {
      @include vertical-align();
      top: 20%;

      h1 {

        @include media-breakpoint-down(md) {
          font-size: 42px;
          line-height: 50px;
        }

      }

      h4 {
        
      }

    }

  }

}
