$breakpoint-xs: 550px;
$breakpoint-s: 768px;
$breakpoint-m: 992px;
$breakpoint-l: 1200px;

$XS: 'min-width:'+ $breakpoint-xs;
$S: 'min-width:'+ $breakpoint-s;
$M: 'min-width:'+ $breakpoint-m;
$L: 'min-width:'+ $breakpoint-l;

$white: #ffffff;
$slate: #abcde8;
$sienna: #cb9468;
$gainsboro: #DFDCD4;
$black: #2f2f2f;
